<a href="https://colab.research.google.com/github/jslee0222/ptyhon_report/blob/main/a1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("3개의 정수값을 입력하시오") 
n1 = int(input("n1의 정수값을 입력: "))
n2 = int(input("n2의 정수값을 입력: "))
n3 = int(input("n3의 정수값을 입력: "))

total = n1 + n2 + n3;
average = total / 3;
print(average)

3개의 정수값을 입력하시오
n1의 정수값을 입력: 20
n2의 정수값을 입력: 230
n3의 정수값을 입력: 50
100.0

In [ ]:
import math
#from math import sqrt 

print("'a, b, c' 3개의 값을 입력하시오")
a = int(input("Enter the a: "))
b = int(input("Enter the b: ")) 
c = int(input("Enter the c: "))

d = math.sqrt(b*b) - (4*a*c); 
#d = sqrt(b*b) - (4*a*c);
x1 = (-b+d) / (2 * a);
x2 = (-b-d) / (2 * a);
print(x1, x2)

'a, b, c' 3개의 값을 입력하시오
Enter the a: 10
Enter the b: 20
Enter the c: 30
-60.0 58.0

In [ ]:
import math

# 근의공식 구하기
a = int(input("a의 값을 입력하세요: "))
b = int(input("b의 값을 입력하세요: "))
c = int(input("c의 값을 입력하세요: "))

x1 = ( (-b + (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)
x2 = ( (-b - (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)

print("x1 = " , x1)
print("x2 = " , x2)

a의 값을 입력하세요: 2
b의 값을 입력하세요: 1
c의 값을 입력하세요: 0
x1 =  0.0
x2 =  -2.0

In [ ]:
total = 0
counter = 1 
while counter <= 10:
 grade=int(input ("Enter grade: "))
 total = grade + total 
 counter = counter + 1
average = total / 10
print(average)

Enter grade: 1
Enter grade: 2
Enter grade: 3
Enter grade: 1
Enter grade: 2
Enter grade: 3
Enter grade: 1
Enter grade: 2
Enter grade: 3
Enter grade: 4
2.2

In [ ]:
total = 0
counter = 1
while counter <= 10:
 grad = int(input ("Enter grade: "))
 total = grade + total
 counter = counter + 1
average = total / 10
print(average)

Enter grade: 1
Enter grade: 1
Enter grade: 2
Enter grade: 1
Enter grade: 1
Enter grade: 2
Enter grade: 1
Enter grade: 1
Enter grade: 2
Enter grade: 3
4.0

In [ ]:
print("3개의 값을 입력하시오")
x = int(input("Enter the x: "))
y = int(input("Enter the y: "))
z = int(input("Enter the z: "))
x = x + 1
y = y + 1
z = z + 1
print("변경된 값 : ", x, y, z)

3개의 값을 입력하시오
Enter the x: 1
Enter the y: 2
Enter the z: 3
변경된 값 :  2 3 4

In [ ]:
a = 10
b = 8750
c = a * b
print(c)

87500

In [ ]:
pay_rate = 8750
hours_worked = int(input("일을 한 전체 시간입력하세요!: " ))
monthly_pay = hours_worked * pay_rate
print(monthly_pay)

일을 한 전체 시간입력하세요!: 10
87500

In [ ]:
won = 100000
usd = won * 1130
print(usd)

113000000

In [ ]:
exchange_rate = int(input("현재 환율입력: "))
won = 100000
usd = won * exchange_rate
print(usd)

현재 환율입력: 1260
126000000

In [ ]:
fahrenheit = 100
celsius = fahrenheit-32
celsius = celsius * 5
celsius = celsius/9
print(celsius)

37.77777777777778

In [ ]:
x = 0
y = 0
x = int(input("정수 x를 입력하시오: "))
y = int(input("정수 y를 입력하시오: "))
sum = x + y
print(sum)

정수 x를 입력하시오: 2
정수 y를 입력하시오: 4
6

In [ ]:
price = int(input("상품의 가격을 입력하시오: "))
vat = price * 0.1
print(vat)

상품의 가격을 입력하시오: 2000
200.0

In [ ]:
age = int(input("현재 나이를 입력하시오.: "))
age = age + 10
print("10년후면", age, " 세가 되시는 군요")

현재 나이를 입력하시오.: 20
10년후면 30  세가 되시는 군요