<a href="https://colab.research.google.com/github/jslee0222/ptyhon_report/blob/main/Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [5]:
print('Hello World')

Hello World

In [3]:
print(1+2)

3

In [4]:
print(2*3)

6

In [6]:
print(True)

True

In [7]:
print(False)

False

In [10]:
a = 3; b = 4; c = a + b; print(c); print(a); print(b)

7
3
4

In [12]:
a = "안녕하세요.";
b = "반갑습니다.";
c = a + b;
print(c)

안녕하세요.반갑습니다.

In [14]:
a = "안녕하세요.";
b = a * 10;
print(b)

안녕하세요.안녕하세요.안녕하세요.안녕하세요.안녕하세요.안녕하세요.안녕하세요.안녕하세요.안녕하세요.안녕하세요.

In [24]:
print("###############")
print("#" * 15)

###############
###############

아버지와 어머니 그리고 삼촌에게 감사한 마음을 전하고 싶습니다.
아버지에게는 10만원, 어머니에게는 15만원, 삼촌에게는 "감사합니다."
변수 : _Father, _Mother, _Uncle

In [22]:
_Father = "100,000"
_Mother = "150,000"
_Uncle = "감사합니다."
print("아버지=", _Father, "원")
print("어머니=", _Mother, "원")
print("삼촌=", _Uncle)

아버지= 100,000 원
어머니= 150,000 원
삼촌= 감사합니다.

변수의 규칙 : 문자 또는 _로 시작(Father, father, _father), 문자, 숫자, _구성(Father69, father55, father_56), 공백은 절대 안된다, 안쓰는 것이 좋다. 특수문자 절대 안된다.

FATHER, father, MOTHER, mother, _Father, _father,  Ketword (True, False, for, while, if, countinue, break, class....)

숫자자료형 = 숫자, 문자자료형 = 모든 문자들..

In [26]:
a = 2
b = "2"
c = a + int(b)
print(c)

4

형변환 : 정수형으로 변환할 때 int(), 실수형으로 변환하고자 할 때 float(), 문자자료형으로 변환하고자 할 때 str(), int(float("2.5"))

산술연산자 : + 더하기(print(4+3), - 빼기(print(2-1), * 곱하기(print(5*4), / 나누기(print(4/2), % 나머지 print(5 % 2), // 몫 print(6 // 2), ** 거듭제곱(print(4**2)